apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: alertmanager-main
  namespace: openshift-monitoring
  labels:
    k8s-app: alertmanager
data:
  alertmanager.yaml: {{ lookup('template', 'templates/alertmanager.yaml.j2') | b64encode }}
