kind: ConfigMap
apiVersion: v1
metadata:
  name: ldap-group-sync
  namespace: {{ ldap_group_sync_namespace }}
  labels:
    purpose: ldap-group-sync
data:
  ldap-group-sync.yaml: {{ lookup('template', 'templates/ldap-sync-config.yaml.j2') | to_json }}
