apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "cluster-logging"
  namespace: "openshift-logging"
spec:
  channel: "{{ clo_subcription_channel }}"
  installPlanApproval: "{{ clo_subcription_install_plan }}"
  name: "cluster-logging"
  source: "redhat-operators"
  sourceNamespace: "openshift-marketplace"
